<div class="top-nav">
  <div class="avatar"><%= image_tag image_url("icon-user.png") %></div>
  <%= image_tag image_url("homebase-logo.png"), class: "logo" %>
  <%= image_tag image_url("icon-menu.png"), class: "menu" %>
</div>