<div class="top-nav">
  <% if controller_name != "sessions" && controller_name != "registrations" %>
    <div class="avatar"><%= image_tag image_url("icon-user.png"), alt: "Profile image" %></div>
  <% end %>

  <%= image_tag image_url("homebase-logo.png"), class: "logo", alt: "Homebase logo" %>
  <%= image_tag image_url("icon-menu.png"), class: "menu", alt: "Menu" %>
</div>