
<% if @groups.length > 0 %>
  <h3>[<%= @group.title %>]</h3>
<% end %>
<h1>Tasks</h1>

<div class="box-with-border">
  <% @tasks.each do |t| %>
    <%= react_component("TaskItem", {
      id: t.id,
      title: t.title,
      due: t.due_at.strftime("%d %B %Y"),
      completed: t.completed || false
    }) %>
  <% end %>
</div>

<%= link_to 'New Task', new_task_path %>
