<p>Hi!</p>

<p>You've been invited to join <%= @group.title %> on Homebase! Click on the link below to join your family and friends.</p>

the link

<p>Enjoy!</p>
<p>The Homebase Team</p>

<%= image_tag image_url("homebaselogo.png"), width: 100 %>
