.btn {
    appearance: none;
    align-items: center;
    background-color: $color-white;
    border: $base-border-style $base-border-width $color-silver;
    border-radius: $button-border-radius;
    color: $color-black;
    cursor: pointer;
    display: flex;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    letter-spacing: $button-letter-spacing;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding: $button-padding;
    position: relative;
    text-align: center;
    text-transform: $button-text-transform;
    vertical-align: middle;

    @include breakpoint($bp-md) {
        transition: all $base-duration $base-timing;
        width: auto;
    }

    @include hover {
        background-color: darken($color-white, 5%);
        color: $color-black;
        cursor: pointer;
    }

    svg {
        fill: $color-black;
        width: 1.2em;
        height: 1.2em;
    }

    &__icon {
        margin-right: 1rem;
    }

    // Cannot use ':disabled' because that doesn't work for the anchor buttons
    &[disabled] {
        pointer-events: none;
        opacity: 0.4;
    }

    &--block {
        width: 100%;
    }

    &--primary {
        background-color: $color-black;
        border-color: transparent;
        color: $color-white;

        @include hover {
            background-color: darken($color-black, 10%);
            color: $color-white;
        }
    }

    &--secondary {
        background-color: $color-white;
        border: $base-border-style $base-border-width $color-silver;
        color: $color-black;

        @include hover {
            background-color: $color-white;
            border-color: darken($color-silver, 20%);
            color: $color-black;
        }
    }

    &--delete {
        background: asset-url('icon-delete.svg') no-repeat center;
        padding: 2.5rem;

        @include breakpoint($bp-md) {
            padding: 1.5rem;
        }
    }

    &--expand {
        background: asset-url('icon-arrow-down.svg')
            calc(100% - #{$button-padding-horizontal}) 50% no-repeat
            $input-background-color;
        padding-right: $button-padding-horizontal * 2;
    }

    &--collapse {
        background: asset-url('icon-arrow-up.svg')
            calc(100% - #{$button-padding-horizontal}) 50% no-repeat
            $input-background-color;
        padding-right: $button-padding-horizontal * 2;
    }

    &--inverted {
        background-color: transparent;
        border: $base-border-style $base-border-width $color-white;
        color: $color-white;
        width: 100%;

        @include breakpoint($bp-sm) {
            width: auto;
        }

        @include hover {
            background-color: $color-white;
            border-color: darken($color-white, 20%);
            color: $color-black;
        }
    }

    &--md {
        font-size: $p-font-size;
    }

    &--small {
        box-shadow: $subtle-box-shadow;
        font-family: $font-base;
        font-size: $button-small-font-size;
        font-weight: $button-font-weight;
        letter-spacing: -0.02em;
        padding: $button-small-padding;
        text-transform: none;
    }

    &--full-width {
        width: 100%;
    }

    &--tag {
        background-color: $color-white;
        border-radius: 999px;
        color: $color-black;
        font-family: $font-base;
        font-size: 1.2rem;
        font-weight: $font-semibold-weight;
        padding: 1em 2em;
        text-transform: none;

        @include hover {
            transform: translateY(-1px);
            background-color: $color-white;
            border-color: transparent;
            box-shadow: $button-hover-box-shadow;
            color: $color-black;
        }

        &--highlight {
            border-color: $color-blue;
            color: $color-blue;
            border-width: 2px;
            font-weight: bold;
        }
    }

    &--dashed {
        background-color: transparent;
        border: dashed 1px $color-silver-dark;
        color: $color-blue;
        box-shadow: none;

        @include hover {
            background-color: transparent;
            border-color: $color-blue;
            color: $color-blue;
        }
    }

    &--filter {
        background-color: $color-white;
        border-color: transparent;
        border-radius: 999px;
        box-shadow: $button-hover-box-shadow;
        color: $color-black;
        font-family: $font-base;
        font-size: 1.2rem;
        font-weight: $font-semibold-weight;
        padding: 1em 2em;
        text-transform: none;

        @include hover {
            transform: translateY(-1px);
            background-color: $color-white;
            color: $color-black;
        }
    }

    &--stealth {
        padding: 0;
        border: none;
        background: none;
        color: inherit;
        border-radius: 0;
        box-shadow: none;
        @include hover {
            border: none;
            background: none;
            color: inherit;
            box-shadow: none;
        }
    }

    &--icon {
        @include flex-center();
    }

    &__icon {
        margin-right: 0.5em;
    }

    &--withchevron {
        @include chevron();
        @include flex-center();
        text-align: left;
        width: 100%;
    }

    &--stripe {
        display: block;
        height: 40px;

        img {
            max-height: 100%;
        }
    }
}

.chevron-left {
    font-size: $p-font-size;
    @include chevronleft();
}

.chevron {
    @include chevron();
    &::after {
        font-size: $xs-font-size;
        margin-left: auto;
    }
}

.floating-action-btn {
    bottom: 1.5rem;
    position: fixed;
    right: 1.5rem;
    margin: 0 0 2rem auto;
    z-index: z('floating-action-btn');
}

.stripe-connect-btn {
    display: block;
    margin: 5rem auto;
    width: 190px;
}
