input:focus {
    outline: 0; /* Remove the stupid outer glow in Webkit */
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'],
select {
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

textarea {
    vertical-align: top; /* Move the label to the top */
    overflow: auto; /* Turn off scroll bars in IE unless needed */
    line-height: $base-line-height;
    max-height: 18em;
    min-height: 10em;
    overflow: auto;
    resize: vertical;
}

form {
    text-align: left;
    margin-bottom: 1em;
}

label,
legend {
    font-size: 1.4rem;
    font-weight: $font-md-weight;
    margin-bottom: 6px;
}

input,
textarea,
select {
    appearance: none;
    background-color: $input-background-color;
    border: $input-border;
    border-radius: $border-radius;
    // box-shadow: $subtle-box-shadow;
    color: $color-black;
    display: block;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: $pv $ph;
    transition: background-color $base-duration $base-timing,
        border-color $base-duration $base-timing;
    width: 100%;

    @include hover {
        background-color: darken($input-background-color, 1%);
        border-color: shade($base-border-color, 10%);
    }

    &:focus {
        background-color: $color-white;
        border-color: darken($base-border-color, 50%);
        box-shadow: none;
        outline: none;
        position: relative;
    }

    &:disabled {
        background-color: darken($color-white, 4%);
        cursor: not-allowed;
        opacity: 0.7;

        @include hover {
            border: $input-border;
        }
    }

    &::placeholder {
        color: $input-placeholder-color;
        font-weight: normal;
    }

    &:invalid {
        box-shadow: none;
    }
}

::-webkit-input-placeholder {
    line-height: normal;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: asset-url('icon-chevron-down.png') calc(100% - #{$ph}) 50%
        no-repeat $input-background-color;
    background-size: auto 25%;
    box-shadow: $subtle-box-shadow;
    line-height: 1.3;
    padding: 0.86em $ph;
    &:focus {
        border-color: darken($base-border-color, 50%);
        box-shadow: none;
        outline: none;
    }
    &:disabled {
        color: $color-silver-dark;
    }
}

.field {
    margin-bottom: 1em;
    position: relative;

    em {
        float: right;
        font-size: 1rem;
    }

    &--checkbox {
        cursor: pointer;
        align-items: center;
        display: flex;
        margin: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            margin-right: 0.5em;
            width: auto;
        }
    }

    &--datetime {
        text-align: center;

        label {
            display: flex;
            text-align: left;
        }

        &__inner {
            select {
                display: inline-block;

                &:first-child {
                    width: 29%;
                }

                &:nth-child(2) {
                    width: 49%;
                }

                &:nth-child(3) {
                    width: 19%;
                }

                &:nth-child(4),
                &:last-child {
                    margin-top: 0.5em;
                    width: 45%;
                }
            }

            @include breakpoint($bp-md) {
                align-items: center;
                display: flex;

                select {
                    margin: 0 0.25em;

                    &:first-child {
                        margin: 0 0.25em 0 0;
                    }

                    &:nth-child(4),
                    &:last-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin: 0 0 0 0.25em;
                    }
                }
            }
        }
    }
}

.actions {
    margin-top: 2em;
}

.alert,
.notice {
    background-color: $color-butter;
    border-radius: 10px;
    padding: 1.5em 2em;
    margin: 5em 2em 0;
}

#error_explanation {
    background-color: $color-butter;
    border-radius: $border-radius;
    padding: 1.5em 1.5em 0.5em;
    margin: 2em 0;

    h2 {
        font-size: 1.75rem;
    }
}

.group-members-form {
    .grid {
        align-items: flex-end;
    }

    .field {
        margin: 0;

        @include breakpoint($bp-md) {
            grid-column-end: span 3;
        }
    }
}
