.box-with-border {
    border: 2px solid $color-gray-dark;
    border-radius: $border-radius;
    margin-bottom: 1em;
    padding: 2em;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    a {
        margin: 1em 0;
    }

    &--dashboard {
        a.list-item {
            color: $color-black;
            margin: 0.25em 0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            color: $color-eggplant;
            text-decoration: none;

            h4 {
                margin: 0;
            }
        }
    }
}

.list-item {
    align-items: center;
    display: flex;
    margin: 0.5em 0;

    span {
        margin-right: 1em;
    }

    a {
        cursor: pointer;
        margin-right: 0.5em;
    }

    &__delete {
        cursor: pointer;
        width: 10px;
    }
}
