body {
    color: $color-black;
    font-family: $font;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;

    &.sandbox {
        background-color: $color-white;
        padding: 2em 3em;
    }
}

.container {
    font-size: 1.4rem; // Any text rendered is not small but we can still use 1rem = 10px for easy math
    flex: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    color: $color-black;
    font-family: $heading-font-family;
    font-weight: $font-weight-bold;
    display: block;
    margin: $mv 0;

    &.section-title {
        font-family: $font;
    }
}

h1,
.h1 {
    font-size: $h1-font-size;
    @include breakpoint($bp-md) {
        font-size: 4.2rem;
    }
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 $mv-lg;

    > a {
        font-weight: 600;
        text-decoration: underline;
    }
}

.small {
    font-size: $small-font-size;
}

a {
    background-color: transparent;
    color: $color-gray-dark;
    font-size: 1.4rem;
    -webkit-text-decoration-skip: objects;

    @include hover {
        color: $color-eggplant;
        outline-width: 0;
        text-decoration: none;
    }

    &:active {
        outline-width: 0;
        color: darken($color-eggplant, 2%);
    }

    &.btn {
        text-decoration: none !important;
    }
}

strong,
b {
    font-weight: $font-weight-semibold;
}

.page-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
        margin: 1em 0;
    }
}

.header-with-logo {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    h2 {
        margin-bottom: 0;
    }

    img {
        margin-bottom: 0.75em;
        width: 60px;
    }
}
