@mixin headingstyle() {
    color: $heading-font-color;
    font-family: $heading-font-family;
    font-weight: 800;
    letter-spacing: -0.034em;
}

@mixin bodystyle() {
    color: $heading-font-color;
    font-family: $base-font-family;
    font-weight: 500;
    transform: none;
    text-transform: none;
    letter-spacing: 0;
}

body {
    color: $base-font-color;
    font-family: $base-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;
}

.container {
    font-size: 1.4rem; // Any text rendered is not small but we can still use 1rem = 10px for easy math
    flex: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    @include headingstyle();
    display: block;
    line-height: $heading-line-height;
    margin: 0 0 1rem;

    &.section-title {
        font-family: $font-base;
    }
}

h1,
.h1 {
    font-size: $h1-font-size;
    letter-spacing: -0.044em;
    @include breakpoint($bp-md) {
        font-size: 4.2rem;
    }
}

h2,
.h2 {
    // color: $base-font-color;
    font-size: $h2-font-size;
    letter-spacing: -0.044em;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
    font-weight: $font-bold-weight;
}

h5,
.h5 {
    font-size: $h5-font-size;
    font-weight: $font-bold-weight;
}

p {
    font-size: $p-font-size;
    line-height: 1.5;
    margin: 0 0 $mv;
    > a {
        text-decoration: underline;
        font-weight: 600;
    }

    &.justify {
        display: flex;
        justify-content: space-between;
        > * {
            margin-top: auto;
            max-height: 6rem;
        }
    }

    &.small {
        font-size: $xxs-font-size;
    }

    &.lg {
        font-size: $h4-font-size;
    }
}

.small {
    font-size: $small-font-size;
}

a {
    background-color: transparent;
    color: $heading-font-color;
    text-decoration: none; // Remove default underline on achor elements
    -webkit-text-decoration-skip: objects;

    &:active {
        outline-width: 0;
        color: darken($action-color, 2%);
    }

    @include hover {
        outline-width: 0;
        color: darken($action-color, 2%);
    }

    &.btn {
        text-decoration: none !important;
    }
}

strong,
b {
    font-weight: $font-semibold-weight;
    color: $color-black;
}

abbr {
    border-bottom: dotted $base-border-width currentColor;
    cursor: help;
    text-decoration: none;
}

img {
    border-style: none;
    display: block;
}

hr {
    @include margin-vertical($mv-lg);
    background-color: $color-silver-light;
    border: 0;
    box-sizing: content-box;
    height: $border-width-lg;
    overflow: visible;
}

.text-alert {
    color: $alert-color !important;
}

.text-highlight,
.highlight {
    color: $highlight-color !important;
}

.text-semibold {
    font-weight: $font-semibold-weight;
}

.text-bold {
    font-weight: $font-bold-weight;
}

.dl {
    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: $pv 0;
        border-top: $base-border-style $base-border-width $line-color;
        &:not(:last-child) {
            // border-bottom: $base-border-style $base-border-width $line-color; // Remove border from last item
        }
        dt,
        dd {
            margin: 0;
            padding: $pv-xs 0;
        }
    }
}
dt,
dd {
    color: $base-font-color;
}
dt {
    font-weight: normal;
}
dd {
    margin: 0;
}

.action-color {
    color: $action-color;
}

.title-with-tag {
    display: flex;
    justify-content: space-between;
}

// I don't think this is used but I'd like to check before removing as it's a
// common name and I could have easily lost one somewhere.
.label {
    background-color: $action-color;
    background-color: $heading-font-color;
    background-color: $line-color;
    border-radius: $base-border-radius;
    color: $color-white;
    color: $color-gray;
    font-size: 0.9rem;
    // font-weight: normal;
    margin-left: 1em;
    padding: 0.4em 0.6em;
    text-transform: capitalize;
}
