@mixin headingstyle() {
    color: $heading-font-color;
    font-family: $heading-font-family;
    font-weight: 800;
    letter-spacing: -0.034em;
}

@mixin bodystyle() {
    color: $heading-font-color;
    font-family: $base-font-family;
    font-weight: 500;
    transform: none;
    text-transform: none;
    letter-spacing: 0;
}

body {
    color: $color-black;
    font-family: $base-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;

    &.sandbox {
        background-color: $color-white;
        padding: 2em 3em;
    }
}

.container {
    font-size: 1.4rem; // Any text rendered is not small but we can still use 1rem = 10px for easy math
    flex: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    @include headingstyle();
    display: block;
    line-height: $heading-line-height;
    margin: 0 0 2rem;

    &.section-title {
        font-family: $font-base;
    }
}

h1,
.h1 {
    font-size: $h1-font-size;
    letter-spacing: -0.044em;
    @include breakpoint($bp-md) {
        font-size: 4.2rem;
    }
}

h2,
.h2 {
    // color: $base-font-color;
    font-size: $h2-font-size;
    letter-spacing: -0.044em;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
    font-weight: $font-bold-weight;
}

h5,
.h5 {
    font-size: $h5-font-size;
    font-weight: $font-bold-weight;
}

p {
    font-size: $p-font-size;
    line-height: 1.5;
    margin: 0 0 $mv;
    > a {
        text-decoration: underline;
        font-weight: 600;
    }

    &.justify {
        display: flex;
        justify-content: space-between;
        > * {
            margin-top: auto;
            max-height: 6rem;
        }
    }

    &.small {
        font-size: $xxs-font-size;
    }

    &.lg {
        font-size: $h4-font-size;
    }
}

.small {
    font-size: $small-font-size;
}

a {
    background-color: transparent;
    color: $color-gray-dark;
    font-size: 1.4rem;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;

    @include hover {
        outline-width: 0;
        color: $color-salmon;
    }

    &:active {
        outline-width: 0;
        color: darken($action-color, 2%);
    }

    &.btn {
        text-decoration: none !important;
    }
}

strong,
b {
    font-weight: $font-semibold-weight;
}

.header-with-logo {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    h2 {
        margin-bottom: 0;
    }

    img {
        margin-bottom: 0.75em;
        width: 60px;
    }
}
