//- Brand Colors
$color-clean: #dfdce3;
$color-blue: #a7d2cb;
$color-butter: #f2d388;
$color-salmon: #c98474;
$color-eggplant: #874c62;

//- Grayscale Colors
$color-black: #101010;
$color-gray-dark: #4c4c4c;
$color-gray: #777;
$color-gray-light: #959595;
$color-silver-dark: #d0d0d0;
$color-silver: #ededed;
$color-silver-light: #f8f8f8;
$color-white: #fff;

//- Error Colors
$color-green: #02db62;
$color-green-dark: #0a2918;
$color-green-light: #def7e9;
$color-red: #ff2121;
$color-red-dark: #320101;
$color-red-light: #fed7d7;
$color-butter: #ffe563;
$color-butter-dark: #322a01;
$color-butter-light: #fef4c3;

// UI Colors
$color-success: $color-eggplant;
$color-error: $color-salmon;
$color-warning: $color-butter;

//- Animations
$base-duration: 0.2s;
$base-timing: ease-in-out;
$elastic-timing: cubic-bezier(0.075, 0.82, 0.165, 1);
$translate-value: 10%; // How much we want to move the questionnaire content

//- Base
$html-font-size: 59.375%;
$html-font-size-lg: 62.5%;

//- Background colors
$base-background-color: $color-white;
$light-background-color: $color-silver-light;

//- Border
$line-color: $color-silver;
$line-color-light: $color-silver-light;
$base-input-border-color: $color-silver-dark;
$base-border-color: $color-silver;
$base-border-style: solid;
$base-border-width: 1px; // Pixels used to counter subpixel rendering
$base-border: $base-border-style $base-border-width $base-border-color;
$border-width-lg: $base-border-width * 2; // Pixels used to counter subpixel rendering
$border-width-sm: $base-border-width / 2; // Pixels used to counter subpixel rendering

//- Border radius
$base-border-radius: 2px;
$border-radius-lg: 8px;
$border-radius-rounded: 200px;
$border-radius-sm: 4px;

// Box shadow
$base-box-shadow: 0 6px 12px 0 rgba($color-black, 0.15);
$subtle-box-shadow: 1px 2px 4px rgba($color-black, 0.03);
$button-hover-box-shadow: 0 2px 8px rgba($color-black, 0.2);

//- Breakpoints
$bp-xs: 24em; // 384px
$bp-sm: 36em; // 576px
$bp-md: 54em; // 864px
$bp-lg: 70em; // 1120px
$bp-xl: 80em; // 1280px
$bp-xxl: 120em; // 1920px

//- Font colors
$base-font-color: $color-gray;
$heading-font-color: $color-black;
$action-color: $color-clean;
$highlight-color: $color-eggplant;
$alert-color: $color-salmon;

//- Font families
$font-titles: 'Avant Garde Bold', 'Standard CT Bold Cond', 'Akzidenz-Grotesk BQ',
    sans-serif;
$font-base: -apple-system, BlinkMacSystemFont, 'Nunito', sans-serif;

//- Font sizes
$base-font-size: 62.5%; // Lets start everything off at 10px for easy maths
$h1-font-size: 4.6rem;
$h2-font-size: 3.2rem;
$h3-font-size: 2.6rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.6rem;
$large-font-size: 1.4rem;
$p-font-size: 1.3rem;
$small-font-size: 1.2rem;
$xs-font-size: 1.1rem;
$xxs-font-size: 1rem;

$font-bold-weight: 700;
$font-semibold-weight: 600;
$font-md-weight: 500;
$font-light-weight: 300;

//- Layout
$container: 118rem;
$container-lg: 132rem;
$container-md: 78rem;
$container-sm: 56rem;
$overlay-bg: darken($color-black, 5%);
$overlay-opacity: 0.5;
$page-action-margin-bottom: 0.5em;
$container-pad: 2rem;
$container-pad-sm: 1rem;
$container-pad-lg: 4rem;

//- Line height
$base-line-height: 1.4;
$heading-line-height: 1.1;
$line-height-sm: 1.25;

//- Spacing (vertical)
$mv: 1em;
$mv-lg: $mv * 2;
$mv-sm: $mv / 2;
$mv-xl: $mv * 4;
$mv-xs: $mv / 4;
$mv-xxs: $mv / 6;

//- Spacing (horizontal)
$mh: 1em;
$mh-lg: $mh * 2;
$mh-sm: $mh / 2;
$mh-xl: $mh * 4;
$mh-xs: $mh / 4;
$mh-xxs: $mh / 6;

//- Padding (vertical)
$pv: 1em;
$pv-lg: $pv * 2;
$pv-sm: $pv / 2;
$pv-xl: $pv * 4;
$pv-xs: $pv / 4;
$pv-xxl: $pv * 6;
$pv-xxs: $pv / 6;

//- Padding (horizontal)
$ph: 1em;
$ph-lg: $ph * 2;
$ph-sm: $ph / 2;
$ph-xl: $ph * 4;
$ph-xs: $ph / 4;
$ph-xxl: $ph * 6;
$ph-xxs: $ph / 6;

//- Z-Index
$z-index: (
    'date-picker': 10,
    'floating-action-btn': 9,
    'actions-link': 8,
    'modal': 7,
    'modal-bg': 6,
    'header': 5,
    'tabs': 4,
    'hero-controls': 3,
    'hero': 2,
    'default': 1,
    'below': -1,
);

//- Typography
$base-font-family: $font-base;
$heading-font-family: $font-titles;
$heading-font-weight: 600;
$link-hover-color: $action-color;

//- Button
$button-border-radius: $base-border-radius;
$button-font-size: 1.5rem;
$button-font-weight: 700;
$button-letter-spacing: 0;
$button-padding-horizontal: 1.8em;
$button-padding-vertical: 1.2em;
$button-padding: $button-padding-vertical $button-padding-horizontal;
$button-text-transform: none;

//- Button Small
$button-small-padding: 1em 1em;
$button-small-font-size: 1.1rem;

//- Button Group
$button-group-horizontal-margin: $mh-xs;
$button-group-vertical-margin: $mv;

//- Alert
$alert-close-size: 1em;
$alert-max-height: 16em;
$alert-padding: $pv;

//- Footer
$footer-padding: 10rem;
$footer-padding-sm: 3.5rem;

//- Footer Copyright
$footer-copyright-font-size: 1rem;

//- Masthead
$masthead-bg-color: $color-white;
$masthead-color: $color-black;
$masthead-padding: $pv 0;
$masthead-height: 7rem;

//- Tabs
$tabs-active-color: $heading-font-color;
$tabs-color: $color-gray-dark;

//- Tags
$tag-close-size: 8px;

//- Notice
$notice-default-bg-color: $action-color;
$notice-default-text-color: $color-white;
$notice-success-bg-color: $color-success;
$notice-success-text-color: $color-white;
$notice-error-bg-color: darken($color-error, 8%);
$notice-error-text-color: $color-white;
$notice-warning-bg-color: darken($color-error, 8%);
$notice-warning-text-color: $color-white;

//- Nav
$nav-bg-color: $color-white;
$nav-bp: $bp-md;
$nav-fullscreen-height: calc(
    100vh - #{$masthead-height}
); // Applied from masthead.scss

//- Modal
$modal-text-align: left;

//- Modal Animation
$modal-animation-duration: 250ms;
$modal-animation-fill-node: forwards;

//- Modal Backdrop
$modal-backdrop-animation: fade-in;
$modal-backdrop-bg: $overlay-bg;
$modal-backdrop-opacity: $overlay-opacity;

//- Modal Close
$modal-close-size: 1.5rem;

//- Modal Content
$modal-content-animation: fade-in-zoom;
$modal-content-animation-timing: $elastic-timing;
$modal-content-bg: $color-white;
$modal-content-max-width: 78rem;
$modal-content-max-width-lg: 86rem;
$modal-padding: $pv-lg;
$modal-padding-lg: 3.5rem;

//- Modal Footer
$modal-footer-bg: $color-white;

//- Size select
$size-select-bg: $color-white;

//- Form Group
$form-group-bg: transparent;

//- Cards
$card-padding: $container-pad;
$card-border: $base-border-style $base-border-width $line-color;
$ui-outside-border: $base-border-style $base-border-width $line-color;
$ui-row-border: 1px dotted darken($line-color, 10%);

//- Row
$product-row-horizontal-margin: 4px;
$row-pad: 3.5rem;
$row-pad-lg: 4rem;

//- Forms
$input-background-color: $color-white;
$input-background-dark: #f7f7f7;
$input-border: $base-border-style $base-border-width $base-input-border-color;
$input-placeholder-color: lighten($color-gray-light, 20%);
$input-error-color: $color-error;
