@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    align-items: flex-start;
}

@mixin ph($size) {
    padding-left: $size;
    padding-right: $size;
}

@mixin pv($size) {
    padding-bottom: $size;
    padding-top: $size;
}

@mixin breakpoint($point) {
    @media (min-width: $point) {
        @content;
    }
}
@mixin breakpointMax($point) {
    @media (max-width: $point) {
        @content;
    }
}

@mixin prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

@mixin transition($transition...) {
    @include prefix('transition', #{$transition});
}

@mixin hover {
    &:hover {
        @media (min-width: $bp-md) {
            @content;
        }
    }
}

@mixin container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($bp-md) {
        max-width: $container-md;
    }
    @include breakpoint($bp-md) {
        max-width: $container;
    }
}

@mixin containerlarge {
    width: 100%;
    max-width: $container-lg;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($bp-md) {
        max-width: $container-lg;
    }
}

@mixin innerpad {
    padding-left: $container-pad;
    padding-right: $container-pad;
    @include breakpoint($bp-md) {
        @include ph($container-pad-lg);
    }
}

@mixin breakoutcontainermobile {
    @include breakpointMax($bp-md) {
        @include margin-horizontal(-$container-pad);
    }
}
