<div class="sandbox-collection">
  <h2 class="sandbox-section-title">
    Color System
  </h2>

  <div class="sandbox-section">
    <h4 class="sandbox-section-title">
      Primary Colors
    </h4>

    <div class="color-cards">
      <div class="color-cards__card color-cards__card--clean">
        <span>$color-clean</span>
        <span>#dfdce3</span>
      </div>
      <div class="color-cards__card color-cards__card--blue">
        <span>$color-blue</span>
        <span>#a7d2cb</span>
      </div>
      <div class="color-cards__card color-cards__card--butter">
        <span>$color-butter</span>
        <span>#f2d388</span>
      </div>
      <div class="color-cards__card color-cards__card--salmon">
        <span>$color-salmon</span>
        <span>#c98474</span>
      </div>
      <div class="color-cards__card color-cards__card--eggplant">
        <span>$color-eggplant</span>
        <span>#874c62</span>
      </div>
    </div>
  </div>

  <div class="sandbox-section">
    <h4 class="sandbox-section-title">
      Grayscale Colors
    </h4>

    <div class="color-cards">
      <div class="color-cards__card color-cards__card--silver-light">
        <span>$color-silver-light</span>
        <span>#f8f8f8</span>
      </div>
      <div class="color-cards__card color-cards__card--silver">
        <span>$color-silver</span>
        <span>#ededed</span>
      </div>
      <div class="color-cards__card color-cards__card--silver-dark">
        <span>$color-silver-dark</span>
        <span>#d0d0d0</span>
      </div>

      <div class="color-cards__card color-cards__card--gray-light">
        <span>$color-gray-light</span>
        <span>#95959</span>
      </div>
      <div class="color-cards__card color-cards__card--gray">
        <span>$color-gray</span>
        <span>#777</span>
      </div>
      <div class="color-cards__card color-cards__card--gray-dark">
        <span>$color-gray-dark</span>
        <span>#4c4c4c</span>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="sandbox-collection">
  <h2 class="sandbox-section-title">
    Typography
  </h2>

  <div class="sandbox-section">
    <h4 class="sandbox-section-title">
      Headings
    </h4>

    <h1>H1. I am 4.2rem / 42px</h1>
    <h2>H2. I am 3.2rem / 32px</h2>
    <h3>H3. I am 2.6rem / 26px</h3>
    <h4>H4. I am 1.8rem / 18px</h4>
    <h5>H5. I am 1.6rem / 16px</h5>
  </div>

  <div class="sandbox-section">
    <h4 class="sandbox-section-title">
      Paragraph
    </h4>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>

<div class="sandbox-collection">
  <h2 class="sandbox-section-title">
    Buttons
  </h2>
 
  <div class="sandbox-section">
    <div class="grid grid--three-up">
      <div>
        <h4 class="sandbox-section-title">
          Primary Button
        </h4>

        <button class="btn btn--primary">Primary Button</button>
      </div>
      <div>
        <h4 class="sandbox-section-title">
          Primary Button (Color Variation)
        </h4>

        <button class="btn btn--primary butter">Primary Button</button>
      </div>
      <div>
        <h4 class="sandbox-section-title">
          Secondary Button
        </h4>
        
        <button class="btn btn--secondary">Secondary Button</button>
      </div>
    </div>
  </div>

  <div class="sandbox-section">
    <div class="grid grid--three-up">
      <div>
        <h4 class="sandbox-section-title">
          Medium
        </h4>
        
        <button class="btn btn--md btn--primary">Medium Button</button>
      </div>
      <div>
        <h4 class="sandbox-section-title">
          Small
        </h4>

        <button class="btn btn--small btn--primary">Small Button</button>
      </div>
      <div>
        <h4 class="sandbox-section-title">
          Full Width
        </h4>

        <button class="btn btn--full-width btn--primary">Full Width Button</button>
      </div>
    </div>
  </div>
</div>