.top-nav {
    background-color: $color-clean;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;

    .logo {
        height: 30px;
    }

    .menu {
        height: 20px;
    }
}
