<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Component Sandbox</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="sandbox">
    <header class="hdr <%= 'hdr--no-border' if @show_infobar %>">
      <div class="hdr__inner">
        <div class="header-with-logo"><h2>Component Sandbox</h2><%= image_tag image_url("homebase-logo.png"), class: "logo", alt: "Homebase logo" %></div>
      </div>
    </header>
    <div class="sandbox-container">
      <%= yield %>
    </div>
  </body>
</html>
