<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Component Sandbox</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="sandbox">
    <header class="hdr <%= 'hdr--no-border' if @show_infobar %>">
      <div class="hdr__inner">
        <div class="header-with-logo"><h2>Component Sandbox</h2><%= image_tag image_url("homebase-logo.png"), class: "logo" %></div>
      </div>
    </header>
    <nav class="sandbox-sidebar">
      <ul>
        <li class="sandbox-sidebar__section">
          <h5>Base</h5>
          <ul>
            <li>Breakpoints</li>
            <li>Color System</li>
            <li>Spacing</li>
            <li>Typography</li>
            <li>Variables</li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="sandbox-container">
      <%= yield %>
    </div>
  </body>
</html>
